@using Narcolepsy.LogConsole.Services
@using Narcolepsy.LogConsole.Data
@inject LogService LogService;
@inject IJSRuntime JsRuntime;

<div class="log-container" @ref="ContainerRef">
    @foreach (LogEntry Entry in LogService.LogEntries) {
        @foreach (LogToken Token in Entry.Tokens) {
            <span class="token" style="@Token.Style.GetCssStyle()">@Token.Text</span>
        }
        <br />
    }
</div>

@code {
    private ElementReference ContainerRef;
    protected override Task OnInitializedAsync() {
        this.LogService.LogEntryAvailable += (s, e) => {
            this.InvokeAsync(this.StateHasChanged);
        };
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await this.JsRuntime.InvokeVoidAsync("scrollToBottom", this.ContainerRef);
        await base.OnAfterRenderAsync(firstRender);
    }
}