@using Narcolepsy.App.Services
@inject IStorage StorageManager
<div class="collection-grid">
    @foreach (CollectionMetadata Metadata in Collections) {
        <CollectionGridItem Metadata="Metadata" />
    }   
</div>

@code {
    private CollectionMetadata[] Collections = new[] { 
        new CollectionMetadata("default", "My Collection", DateTime.Now.AddDays(-180), 23, new[] {"crossword.azurewebsites.net", "firetabs.azurewebsites.net"}),
        new CollectionMetadata("treasury", "My Collection", DateTime.Now.AddDays(-750), 14, new[] {"auth.hulu.com", "discovery.hulu.com"}),
        new CollectionMetadata("id", "My Collection", DateTime.Now.AddDays(-1), 52, new[] {"a.appspot.com", "b.appspot.com"}),
        new CollectionMetadata("id", "My Collection", DateTime.Now.AddDays(-2), 7, new[] {"google.com", "boogle.com"}),
        new CollectionMetadata("id", "My Collection", DateTime.Now.AddDays(-7), 1, new[] {"a.com"}),
        new CollectionMetadata("id", "My Collection", DateTime.Now.AddDays(-15), 0, new string[] { }),
        new CollectionMetadata("id", "My Collection", DateTime.Now.AddSeconds(-5), 11, new[] {"hello"}),
        new CollectionMetadata("id", "My Collection", DateTime.Now.AddMinutes(-5), 42, new[] {"uh-oh"}),
        new CollectionMetadata("id", "My Collection", DateTime.Now.AddHours(-5), 10, new[] {"oh, well"}),
                                             };


    protected override async Task OnInitializedAsync() {
        this.Collections = await this.StorageManager.GetCollectionsAsync();
        await base.OnInitializedAsync();
    }

}
