@using Narcolepsy.App.Services
@using Narcolepsy.Platform.Logging
@inject IStorage StorageManager
@inject NavigationManager Nav
<div class="collection-grid">
    @foreach (CollectionMetadata Metadata in Collections) {
        <CollectionGridItem Metadata="Metadata" />
    }   

    <div class="add-card" @onclick="() => CreatingCollection = true">
        <span class="material-symbols-rounded icon">add</span>
        <p class="text">Create Collection</p>
    </div>
    @if (CreatingCollection) {
        <Modal Canceled="() => CreatingCollection = false">
            <Title>
                Create Collection
            </Title>
            <Content>
                <Input placeholder="Name" @bind-Value="CollectionName"/>
            </Content>
            <Actions>
                <Button Outlined @onclick="() => CreatingCollection = false">Cancel</Button>
                <Button @onclick="Create" class="create-btn">Create</Button>
            </Actions>
        </Modal>
    }
</div>

@code {
    private CollectionMetadata[] Collections = Array.Empty<CollectionMetadata>();
    private bool CreatingCollection = false;
    private string CollectionName = "";

    protected override async Task OnInitializedAsync() {
        this.Collections = await this.StorageManager.GetCollectionsAsync();
        await base.OnInitializedAsync();
    }

    private async Task Create() {
        CreatingCollection = false;
        Collection NewCollection = new(CollectionName);
        await this.StorageManager.SaveCollectionAsync(NewCollection);
        this.Nav.NavigateTo($"/collection/{NewCollection.Id}");
    }
}
