<div class="header">
    <div class="brand-area">
        <img src="/icon.svg" class="logo" />
        <span class="title">Narcolepsy</span>
    </div>
    <div class="spacer"></div>
    <div class="caption-buttons"></div>
</div>