@inherits LayoutComponentBase
@using Narcolepsy.App.Shared.StatusBar

<div class="layout">
    <div class="content">
        <ErrorBoundary Context="e">
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                <ErrorLogger Exception="e"/>
            </ErrorContent>
        </ErrorBoundary>
    </div>
    <StatusBar/>
</div>