@inherits Narcolepsy.Platform.Rendering.ContextSensitiveComponent<IRequestContext>

<header class="request-info-toolbar">
    <span class="request-name">@Context?.Name.Value</span>
</header>

@code {

    protected override void OnInitialized() {
        base.OnInitialized();
        UpdateOnChange(ctx => ctx.Name);
    }

}