aside {
	grid-area: list;
	border-right: 1px solid var(--color-gray);
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: hidden;
}

::deep .add-button {
	margin: 8px;
	align-self: stretch;
}

.add-button .material-symbols-rounded {
	font-size: 20px;
}

.request-list {
	overflow-y: auto;
	overflow-x: hidden;
}