@inherits ContextSensitiveComponent<IHttpRequestContext>
<div class="header-view">
    @foreach (HttpResponseHeader ResponseHeader in Response?.ResponseHeaders ?? Array.Empty<HttpResponseHeader>()) {
        <p class="header">
            <span class="header-name">@ResponseHeader.Name:</span> @ResponseHeader.Value
        </p>
    }
</div>

@code {

    private HttpResponse? Response => Context.Response.Value;

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();

        UpdateOnChange(ctx => ctx.Response);
    }

}