.header-view {
	padding: 12px;
	overflow: hidden;
}

.header {
	margin: 0 0 8px 0;
	overflow: hidden;
	word-break: break-word;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 3px;
	font-size: 0.94em;
}

.header-name {
	font-weight: 600;
}