@inherits StyledHtmlComponent

<button @attributes="Attributes" class="@GetClassName(Outlined ? "outlined" : null)">@ChildContent</button>

@code {
    [Parameter]
    public bool Outlined { get; set; }
}