.container {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 4px;
	height: 100%;
	display: grid;
}

.raw-view {
	background: var(--color-lighter-gray);
	padding: 12px;
	border-radius: 4px;
	word-wrap: break-word;
	box-sizing: border-box;
	margin: 0;
	overflow-x: hidden;
	white-space: pre-wrap;
	align-self: flex-start;
	border: 1px solid var(--color-light-gray);
}

.download-container {
	place-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.note {
	margin: 22px 0;
	font-size: 0.8em;
	color: var(--color-gray-dark);
	text-align: center;
}

.filename {
	font-weight: normal;
	margin: 10px 30px;
	text-align: center;
}

::deep .view-link:hover {
	color: var(--color-light-gray);
}

::deep .view-link:active {
	color: var(--color-lighter-gray);
}