@using System.Net.Http.Headers
@using CommunityToolkit.Maui.Storage
@using Narcolepsy.Platform.Logging
@inherits ContextSensitiveComponent<IHttpRequestContext>
@inject NarcolepsyJs JsService

<div class="container">
    @if (IsBinaryResponse) {
        <div class="download-container">
            <h3 class="filename">@InferredFilename</h3>
            <Button @onclick="SaveFile">Save As</Button>
            <p class="note">
                This file seems like binary content.
                <A @onclick="ViewAnyway" class="view-link">View Anyway?</A>
                <br/>
                Content Type: @(Context.Response.Value?.ResponseHeaders.GetHeaderValue("Content-Type") ?? "Unknown")
            </p>
        </div>
    }
    else {
        <pre class="raw-view">
            @ColorizedResponse
        </pre>
    }
</div>

@code {
    private MarkupString ColorizedResponse;

    private bool IsBinaryResponse;
    private string InferredFilename;

    protected override async Task OnContextChangedAsync() {
        Context.Response.ValueChanged += async (_, res) => await LoadNewResponse(res.Value);
        await LoadNewResponse(Context.Response.Value);
    }

    private async Task LoadNewResponse(HttpResponse? response) {
        if (response is null) {
            ColorizedResponse = default(MarkupString);
            IsBinaryResponse = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        // is it text or not
        IsBinaryResponse = response.BodyText.Contains("\ufffd");

        if (IsBinaryResponse) {
            ColorizedResponse = default(MarkupString);
            InferredFilename = InferFilename();
            await InvokeAsync(StateHasChanged);
            return;
        }

        // very easy, just colorize and set
        MonacoLanguage Language = MonacoLanguage.GetByContentTypeHeader(response.ResponseHeaders.GetHeaderValue("Content-Type"));

        ColorizedResponse = await JsService.Colorize(response.BodyText, Language.Id);
        await InvokeAsync(StateHasChanged);
    }

    private async Task ViewAnyway() {
        IsBinaryResponse = false;

        ColorizedResponse = (MarkupString)(Context.Response.Value?.BodyText ?? "");
    }

    private async Task SaveFile() {
        if (Context.Response.Value is null) return;
        try {
            await FileSaver.Default.SaveAsync("/", InferredFilename, new MemoryStream(Context.Response.Value.ResponseBody), default(CancellationToken));
        }
        catch (FolderPickerException) {
            // just means it was canceled, ignore
        }
    }

    private string InferFilename() {
        HttpResponse? Response = Context.Response.Value;
        if (Response is null) return "file";

        // guess from the url if we have nothing else
        string UrlGuess = Path.GetFileName(Response.RequestMessage?.RequestUri?.LocalPath) ?? "file";

        // if we have a content disposition header, perfect!
        string? ContentDisposition = Response.ResponseHeaders.GetHeaderValue("Content-Disposition");
        if (ContentDisposition is not null) {
            // sometimes they come malformed. that's okay, try to fix but just use the guess if it doesn't work
            if (ContentDisposition.StartsWith("filename")) ContentDisposition = "attachment;" + ContentDisposition;
            try {
                ContentDispositionHeaderValue HeaderValue = ContentDispositionHeaderValue.Parse(ContentDisposition);
                return HeaderValue.FileNameStar ?? HeaderValue.FileName ?? UrlGuess;
            }
            catch {
                // return the guess instead
            }
        }

        return UrlGuess;
    }

}