@page "/"
@using Narcolepsy.Platform.Requests
@using Narcolepsy.App.Plugins
@using System.Diagnostics;
@inject Plugins.PluginManager PluginManager;
@inject RequestManager RequestManager;
@inject IJSRuntime JSRuntime;
@inject AssetManager AssetManager;

<div class="app-container">
    @if (CurrentRequest is not null) {
        @CurrentRequest.Render()
    }
</div>
@code {
	private Request CurrentRequest = null;

	protected override async Task OnInitializedAsync() {
		await PluginManager.InitializePluginsAsync();
		await base.OnInitializedAsync();
	}

	public void CreateRequest() {
		this.CurrentRequest = RequestManager.CreateRequest("HTTP", "Request");
	}

	protected override async Task OnAfterRenderAsync(bool firstRender) {
		await base.OnAfterRenderAsync(firstRender);

		if (firstRender) {
			Stopwatch Stop = Stopwatch.StartNew();
			await this.AssetManager.LoadAllScriptsAsync(this.JSRuntime);
			await this.AssetManager.LoadAllStylesAsync(this.JSRuntime);
			Stop.Stop();
			System.Diagnostics.Debug.WriteLine(Stop.ElapsedMilliseconds);
			this.CreateRequest();
	        this.StateHasChanged();
	    }

	}

}